
@{
    ViewBag.Title = "画面D_1";
}
<h2>画面D_1</h2>
<body>

<table style="border-width: 3; border-color: Black">
    <thead>
        <tr style="        width: 1080px;border-width: 3;border-color: Black">
            <th Sstyle="width:300px">異動者名</th>
            <th>　　異動前所属部署</th>
            <th>　　記録開始年月日</th>
            <th>　　異動後所属部署</th>
            <th>　　記録終了年月日</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>内容1</td>
            <td>内容2</td>
            @*@foreach(item fo Model){

            }*@
        </tr>
    </tbody>
</table>
    </body>